<form [formGroup]="formProduct" (ngSubmit)="saveProduct()">

  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="productName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input  formControlName="description" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stock</mat-label>
      <input  formControlName="stock" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ClothingType</mat-label>
      <mat-select formControlName="clothingTypeId">
        <mat-option *ngFor="let clothingType of clothingTypes" [value]="clothingType.id">{{ clothingType.type }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>TargetAudience</mat-label>
      <mat-select formControlName="targetAudienceId">
        <mat-option *ngFor="let targetAudience of targetAudiences" [value]="targetAudience.id">{{ targetAudience.audience }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ImageURL</mat-label>
      <input formControlName="imageUrl" matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary">Save</button>
    <button (click)="closePopup()" mat-raised-button color="warn">Close</button>
  </div>
</form>
