<!--order.component.html-->

<app-header-page [titleOfPage]=TITLE_OF_PAGE></app-header-page>

<div class="flex flex-col items-center justify-center pt-12">
  <div class="w-full rounded-lg shadow border max-w-2xl border-gray-700">
    <div class="space-y-4 p-8">
      <p class="text-xl text-center">Orders</p>

      <app-no-information-found [titleOfInformationNotFound]=TITLE_OF_PAGE [listOfInformationNotFound]=orders></app-no-information-found>

      <div *ngIf="orders.length > 0">
        <div class="grid grid-cols-5 gap-4 content-start">
          <b>Amount</b>
          <b>Product</b>
          <b>User</b>
          <b>Address</b>
        </div>
        <hr>
        <div *ngFor="let order of orders">
          <app-order-information [order]="order"></app-order-information>
        </div>
      </div>

    </div>
  </div>
</div>
