<!--order.component.html-->

<app-header-page [namePage]=namePage></app-header-page>

<div class="flex flex-col items-center justify-center pt-12">
  <div class="w-full rounded-lg shadow border max-w-2xl border-gray-700">
    <div class="space-y-4 p-8">
      <p class="text-xl text-center">Orders</p>

      <div *ngIf="orders.length === 0">
        <p>No orders.</p>
      </div>

      <div *ngIf="orders.length > 0">
        <div class="grid grid-cols-5 gap-4 content-start">
          <b>Amount</b>
          <b>Product</b>
          <b>User</b>
          <b>Address</b>
        </div>
        <hr>
        <div *ngFor="let order of orders" class="grid grid-cols-5 gap-4 content-start">
          <p>{{order.amount}}</p>
          <p>{{order.product.productName}}</p>
          <p>{{order.user.username}}</p>
          <p>{{order.user.address}}</p>
          <p>
            <button (click)="openPopup(order.id, 'Edit Order')" class="pl-4 pr-4"><mat-icon>edit</mat-icon></button>
            <button (click)="deleteOrder(order.id)"><mat-icon>delete</mat-icon></button>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
