<div class="flex flex-col items-center justify-center pt-12">
  <div class="w-full rounded-lg shadow border max-w-2xl border-gray-700">
    <div class="space-y-4 p-8">
      <p class="text-xl text-center">Target Audience</p>

      <div class="grid grid-cols-3">
        <b>Type</b>
        <b>Description</b>
        <p>
          <button (click)="openPupUpService.openPopupAdd('Add Target Audience', PopUpUpdateTargetAudienceComponent)" class="pl-32 pr-4"><mat-icon>add</mat-icon></button>
        </p>
      </div>
      <hr>
      <div *ngIf="targetAudiences.length > 0">
        <div *ngFor="let targetAudience of targetAudiences">
          <app-target-audience-information [targetAudience]="targetAudience"></app-target-audience-information>
        </div>
      </div>
      <app-no-information-found [titleOfInformationNotFound]="'Target audiences'" [listOfInformationNotFound]=targetAudiences></app-no-information-found>
    </div>
  </div>
</div>
