<!--filter-clothing-type.component.html-->
<div (click)="toggleClothingTypeCollapse()" class="cursor-pointer mb-2">
  <b class="inline">Clothing Type</b>
  <p class="inline pl-24">▼</p>
</div>
<div *ngIf="!isClothingTypeCollapsed">
  <div class="card">
    <div *ngFor="let product of allClothingTypes">
      <section>
        <input type="checkbox" (change)="onCheckboxChangeClothingType(product)" [checked]="selectedClothingTypes.includes(product)">
        {{product}}
      </section>
    </div>
  </div>
</div>
