<div class="flex flex-col items-center justify-center pt-12">
  <div class="w-full rounded-lg shadow border max-w-2xl border-gray-700">
    <div class="space-y-4 p-8">
      <p class="text-xl text-center">Clothing Type</p>

      <div class="grid grid-cols-3">
        <b>Type</b>
        <b>Description</b>
        <p>
          <button (click)="openPupUpService.openPopupAdd('Add ClothingType', PopUpUpdateClothingTypeComponent)" class="pl-32 pr-4"><mat-icon>add</mat-icon></button>
        </p>
      </div>
      <hr>
      <div *ngIf="clothingTypes.length > 0">
        <div *ngFor="let clothingType of clothingTypes" class="grid grid-cols-3">
          <p>{{clothingType.type}}</p>
          <p>{{clothingType.description}}</p>
          <p>
            <button (click)="openPupUpService.openPopupEdit(clothingType.id, 'Edit ClothingType', PopUpUpdateClothingTypeComponent)" class="pl-20 pr-6"><mat-icon>edit</mat-icon></button>
            <button (click)="deleteClothingType(clothingType.id)"><mat-icon>delete</mat-icon></button>
          </p>
        </div>
      </div>

      <app-no-information-found [titleOfInformationNotFound]="'Clothing types'" [listOfInformationNotFound]=clothingTypes></app-no-information-found>

    </div>
  </div>
</div>
