<div *ngIf="isLoginOrLogout">
  <app-header-page [namePage]="namePageLogin"></app-header-page>
</div>
<div *ngIf="!isLoginOrLogout">
  <app-header-page [namePage]="namePageLogout"></app-header-page>
</div>

<div class="flex flex-col items-center justify-center pt-12">
  <div class="w-full rounded-lg shadow border max-w-md border-gray-700">
    <div class="space-y-4 p-8">
      <div *ngIf="isLoginOrLogout">
        <form class="space-y-4 md:space-y-6" action="#">
          <div *ngIf=isLoginMode>
            <app-login [loginObj]="loginObj"></app-login>
          </div>

          <div *ngIf=!isLoginMode>
            <app-sign-up [signUpObj]=signUpObj></app-sign-up>
          </div>

          <button id="submitButton" type="submit" (click)="onLogin()" class="">{{ isLoginMode ? 'Login' : 'Sign Up'}}</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            {{ isLoginMode ? 'Don’t have an account yet?' : 'Already have an account?'}} <button (click)="onSwitchMode()" class="font-medium text-primary-600 hover:underline dark:text-primary-500">{{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
          </p>
        </form>
      </div>
      <div *ngIf="!isLoginOrLogout">
        <app-logout></app-logout>
      </div>
    </div>
  </div>
</div>
