.mat-toolbar {
  display: flex;
  flex-wrap: wrap;
}

.spacer {
  flex: 1;
}

.centered-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-toolbar a.router-link-active {
  border-bottom: 2px solid black;
  border-radius: 0;
}

.no-underline {
  text-decoration: none;
}

.hover-underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -1.5px 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}

.hover-underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.dropdown {
  display: none;
}

@media (max-width: 700px) {
  .centered-link {
    flex-basis: 100%;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }

  .normaal-menu {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }

  .dropbtn {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: black;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .spacer {
    flex: 1;
  }

  .mat-toolbar a.router-link-active,
  .mat-toolbar .margin-button,
  .mat-toolbar .margin-button2 {
    order: 1;
  }

  .mat-toolbar .dropdown-content a.router-link-active {
    border-bottom: none;
  }
}
