<app-header-page [titleOfPage]=NAMEPAGE></app-header-page>
<div class="flex flex-col items-center justify-center pt-12">
  <div class="w-full rounded-lg shadow border max-w-2xl border-gray-700">
    <div class="space-y-4 p-8">
      <p class="text-xl text-center">Shopping Cart</p>
      <app-no-information-found [titleOfInformationNotFound]="'items in your shopping cart'" [listOfInformationNotFound]=shoppingCartItems></app-no-information-found>

      <div *ngIf="shoppingCartItems.length > 0">
        <app-top-of-table></app-top-of-table>
        <div *ngFor="let product of itemInformation">
          <div *ngFor="let item of shoppingCartItems">
            <div *ngIf="item.id == product.id">
              <app-information-product-shopping-cart [product]="product" [item]="item" [shoppingCartItems]="shoppingCartItems">
              </app-information-product-shopping-cart>
            </div>
          </div>
        </div>
        <app-price-accumulated [order]="order" [shoppingCartItems]="shoppingCartItems" [priceAccumulated]="priceAccumulated"></app-price-accumulated>
      </div>
    </div>
  </div>
</div>
