$primary-color: #60c7c1;
$secondary-color: #c1c1c1;
$danger-color: #f15e5e;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; // Optioneel, afhankelijk van je ontwerpbehoeften
}

.centered-content {
  text-align: center; // Optioneel, afhankelijk van je ontwerpbehoeften
}

body {
  font-family: 'Varela Round', sans-serif;
}

.modal-confirm {
  color: #636363;
  width: 400px;
  margin: 30px auto;

  .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;

    .modal-header {
      border-bottom: none;
      position: relative;

      h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -10px;
      }

      .close {
        position: absolute;
        top: -5px;
        right: -2px;
      }
    }

    .modal-body {
      color: #999;
    }

    .modal-footer {
      border: none;
      text-align: center;
      border-radius: 5px;
      font-size: 13px;
      padding: 10px 15px 25px;

      a {
        color: #999;
      }
    }

    .icon-box {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      z-index: 9;
      text-align: center;
      border: 3px solid $danger-color;

      i {
        color: $danger-color;
        font-size: 46px;
        display: inline-block;
        margin-top: 13px;
      }
    }

    .btn {
      color: #fff;
      border-radius: 4px;
      background: $primary-color;
      text-decoration: none;
      transition: all 0.4s;
      line-height: normal;
      min-width: 120px;
      border: none;
      min-height: 40px;
      border-radius: 3px;
      margin: 0 5px;
      outline: none !important;

      &.btn-info {
        background: $secondary-color;

        &:hover, &:focus {
          background: darken($secondary-color, 10%);
        }
      }

      &.btn-danger {
        background: $danger-color;

        &:hover, &:focus {
          background: darken($danger-color, 10%);
        }
      }
    }
  }
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
