$primary-color: #60c7c1;
$secondary-color: #c1c1c1;
$danger-color: #f15e5e;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; // Optioneel, afhankelijk van je ontwerpbehoeften
}

.centered-content {
  text-align: center; // Optioneel, afhankelijk van je ontwerpbehoeften
}

body {
  font-family: 'Varela Round', sans-serif;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
