<div class="pb-1">
  <label>Username</label>
  <input type="username" name="username" id="username" [(ngModel)]="loginObj.username" class="bg-gray-50 border w-full p-2.5 border-red-200" placeholder="username" required="">
</div>
<div>
  <label>Password</label>
  <input type="password" name="password" id="password" [(ngModel)]="loginObj.password" placeholder="••••••••" class="bg-gray-50 border w-full p-2.5 border-red-200" required="">
</div>
<br>
<div>
  <re-captcha (resolved)="wasCaptchaSuccesful($event)" siteKey="6LcmgUYpAAAAAKZsuhk-MtMYS2uLgsVAh9P_naws"></re-captcha>
</div>
