<div class="general">
  <div class="container">
    <h1>Winter Collection</h1>
    <h1>2023/2024<hr></h1>

    <h2>Latest Product:</h2>
    <div *ngFor="let product of products" class="product-container">
      <div class="product-info">
        <h2>{{ product.productName }}</h2>
        <p>Description: {{ product.description }}</p>
        <p>Price: {{ product.price | currency:'EUR':'symbol':'1.2-2' }}</p>
        <button>SHOP NOW -></button>
      </div>
      <div class="product-image">
        <a><img src="{{product?.imageUrl}}" alt=""></a>
      </div>
    </div>
    <br><br><br>
  </div>
</div>
