.container {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  padding: 20px;
}

.general {
  background-color: #e0efff;
}

.product-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-info {
  flex: 1;
}

.product-image {
  margin-left: 20px;
}

button{
  color: white;
  background-color: black;
}

.product-image img {
  width: 100%;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}
