@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';

.card {
  border: none;
  margin-bottom: 5px;
}

.w-60 {
  width: 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

.mat-checkbox {
  display: block;
}

@media (max-width: 768px) {
  .col-lg-3 {
    position: static;
    width: auto;
  }

  .container {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .col-6 {
    width: 100%;
  }
}
