@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

.card {
  border: none;
  margin-bottom: 5px;
}

.w-60 {
  width: 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

.mat-checkbox {
  display: block;
}

.card-heading {
  text-align: center;
  height: 60px;
}

.col-lg-3 {
  width: 300px;
  position: fixed;
}

.container {
  margin-left: 320px;
}

.row {
  height: 150px;
}
