.width-tekst{
  width: 350px;
}

.wrapper{
  height: 50px;
  width: 150px;
  align-items: center;
}


.padding-left {
  padding-left: 31vw;
}

@media (max-width: 1250px) {
  .padding-left {
    padding-left: 20vw;
  }
}

@media (max-width: 1000px) {
  .padding-left {
    padding-left: 10vw;
  }
}

@media (max-width: 840px) {
  .padding-left {
    margin-bottom: 30px;
    padding-left: 25vw;
  }
  .width-tekst{
    padding-left: 25vw;
    width: 550px;
  }
}

@media (max-width: 550px) {
  .padding-left {
    margin-bottom: 30px;
    padding-left: 1vw;
  }
  .width-tekst{
    padding-left: 1vw;
    width: 350px;
  }
}
