<!--product-information.component.html-->

<div class="bg-red-100 ">
  <p class="pt-10 pl-80 text-2xl font-semibold responsiveShoppingCart">Product</p>
  <div class="pb-10">
    <p class="pl-80 inline responsiveShoppingCart">Home > </p>
    <p class="pb-10 inline text-gray-400">Product</p>
  </div>
</div>


<div *ngFor="let product of products" class="mb-4 pt-16">
  <div class="flex flex-wrap items-center">
    <div class="padding-left">
        <img src="{{ product?.imageUrl }}" class=" border-4 h-96 mr-4" alt="{{ product?.productName }}" [ngStyle]="{ 'background-image': 'url(' + image + ')', 'background-size': 'cover'}">
    </div>
    <div class="ml-3 width-tekst">
      <div class="mb-2 text-red-400">WorldWideFashion</div>
      <div class="mb-3 text-3xl font-semibold">{{ product?.productName }}</div>
      <div class="mb-3 text-md">{{ product?.description }}</div>
      <div class="grid grid-cols-3 gap-4 content-start">
        <div class="mb-3 text-2xl col-span-2">€{{ product?.price }}</div>
        <div class="pl-12"><button (click)="toggleFavoriteProductInformation()"><mat-icon>{{ isFavorite ? 'favorite' : 'favorite_outline' }}</mat-icon></button></div>
      </div>
      <div class="flex">
        <div class="mr-2 wrapper flex justify-center bg-gray-100">
          <button (click)="minProduct()" class="pr-10">-</button>
          <span>{{amountProduct}}</span>
          <button (click)="maxProduct()" class="pl-10">+</button>
        </div>
        <div>
          <button (click)="addAmount()" class="hover:bg-red-500 flex justify-center items-center gap-2 px-10 py-3
                        border font-light text-lg leading-none bg-red-400
                        rounded-2xl text-white"
                  >Add to card

          </button>
        </div>
      </div>
    </div>
  </div>
</div>



