<form [formGroup]="myform" (ngSubmit)="saveProduct()">

  <h1 mat-dialog-title>{{inputdata.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="productName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input  formControlName="description" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stock</mat-label>
      <input  formControlName="stock" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ClothingType</mat-label>
      <mat-select formControlName="clothingType">
        <mat-option value="HOODIE">Hoodie</mat-option>
        <mat-option value="SHIRT">Shirt</mat-option>
        <mat-option value="PANTS">Pants</mat-option>
        <mat-option value="UNDERWEAR">Underwear</mat-option>
        <mat-option value="SOCKS">Socks</mat-option>
        <mat-option value="SHOES">Shoes</mat-option>
        <mat-option value="JACKET">Jacket</mat-option>
        <mat-option value="HAT">Hat</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>TargetAudience</mat-label>
      <mat-select formControlName="targetAudience">
        <mat-option value="WOMEN">Women</mat-option>
        <mat-option value="MEN">Men</mat-option>
        <mat-option value="UNISEX">Unisex</mat-option>
        <mat-option value="CHILDREN">Children</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ImageURL</mat-label>
      <input formControlName="imageUrl" matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary">Save</button>
    <button (click)="closePopup()" mat-raised-button color="warn">Close</button>
  </div>
</form>
