<form [formGroup]="myform" (ngSubmit)="saveProduct()">

  <h1 mat-dialog-title>{{inputdata.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="productName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input  formControlName="description" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stock</mat-label>
      <input  formControlName="stock" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ClothingType</mat-label>
      <input formControlName="clothingType" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>TargetAudience</mat-label>
      <input formControlName="targetAudience" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ImageURL</mat-label>
      <input formControlName="imageUrl" matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary">Save</button>
    <button (click)="closePopup()" mat-raised-button color="warn">Close</button>
  </div>
</form>
