<br><br>
<div class="container">
  <div class="centered-content">
    <input
    type="text"
    class="form-control"
    [(ngModel)]="homename"
    >
    <p *ngIf="buttonClicked; else buttonNotClicked">{{'Server'}} with ID 10 is {{serverStatus}} en {{homename}}</p>
    <ng-template #buttonNotClicked>
      <p [ngStyle]="{backgroundColor: getColor()}"
      [ngClass]="{online: serverStatus === 'online'}">
        Button is not pressed!</p>
    </ng-template>

    <button (click)="onCreateServer()" class="btn btn-primary">Add server</button>

    <div *ngFor="let amount of amountButtonClicked; let i = index"
      [ngClass] = "{'blue-text': i > 4}">
      {{amount}}
    </div>
  </div>
</div>



